__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.csv
*.tsv
*.xlsx
*.jpg
*.jpeg
*.png
*.gif
*.zip
*.tar
*.gz
*.ipynb
*.pt
*.pth
*.bin
*.pkl

.venv/
env/
venv/
.idea/
.vscode/
.env
.DS_Store
.git
.gitignore
